@charset "UTF-8";

html {
    font-size: 100%;
    /*ユーザー設定の文字サイズを正しく反映*/
}

* {
    box-sizing: border-box;
    /*余白や線を幅や高さに含める*/
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #222222;
    width: 100%;
    min-width: 900px;
}

.header__inner {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 40px;
}

.header__inner img {
    width: 70px;
    height: 70px;
}

.input {
    margin-left: auto;
    margin-right: auto;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;

    color: #ffff;
}

body {
    margin: 0px;
}

footer {
    width: 950px;
    margin: 20px auto;
    padding-top: 20px;
}

footer:before {
    content: "";
    position: absolute;
    left: 0px;
    display: block;
    margin-top: -20px;
    width: 100%;
    border-top: 1px solid #222222;
}